{% extends "base.html" %}
{% block title %} | About {% endblock title %}
 

{% block body %}
 


<div class="container mt-4">
    
    <h2 class="alert alert-secondary text-center">Our Team</h2>

    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://2.bp.blogspot.com/-dhWvEs4rrm8/XG_vnF081pI/AAAAAAAAApU/ojiT5zF4WLoIOYT2RQEVkknHNdC1gXm0wCPcBGAYYCw/s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://2.bp.blogspot.com/-dhWvEs4rrm8/XG_vnF081pI/AAAAAAAAApU/ojiT5zF4WLoIOYT2RQEVkknHNdC1gXm0wCPcBGAYYCw/s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://2.bp.blogspot.com/-dhWvEs4rrm8/XG_vnF081pI/AAAAAAAAApU/ojiT5zF4WLoIOYT2RQEVkknHNdC1gXm0wCPcBGAYYCw/s" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div> 
      </div>


      <h2 class="alert alert-secondary text-center">Our Experience</h2>


<ul class="list-group ">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Html
      <span class="badge badge-primary badge-pill">70%</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Css
      <span class="badge badge-primary badge-pill">60%</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      JavaScript
      <span class="badge badge-primary badge-pill">30%</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Python
      <span class="badge badge-primary badge-pill">50%</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Django
      <span class="badge badge-primary badge-pill">20%</span>
    </li>
  </ul>


  
  <h2 class="alert alert-secondary text-center">Our Skills</h2>
  <p class="badge badge-pill badge-secondary p-2">Html</p>
  <p class="badge badge-pill badge-secondary p-2">Css</p>
  <p class="badge badge-pill badge-secondary p-2">JavaScript</p>
  <p class="badge badge-pill badge-secondary p-2">Jquery</p>
  <p class="badge badge-pill badge-secondary p-2">react</p>
  <p class="badge badge-pill badge-secondary p-2">express</p>
  <p class="badge badge-pill badge-secondary p-2">node</p>
  <p class="badge badge-pill badge-secondary p-2">ajax</p>
  <p class="badge badge-pill badge-secondary p-2">bootstrap</p>
  <p class="badge badge-pill badge-secondary p-2">techyans</p>
  <p class="badge badge-pill badge-secondary p-2">bulma</p>
  <p class="badge badge-pill badge-secondary p-2">python</p>
  <p class="badge badge-pill badge-secondary p-2">django</p>
  <p class="badge badge-pill badge-secondary p-2">flask</p>
  <p class="badge badge-pill badge-secondary p-2">tkinter</p>
  <p class="badge badge-pill badge-secondary p-2">cgi python</p>
  <p class="badge badge-pill badge-secondary p-2">mysql</p>
  <p class="badge badge-pill badge-secondary p-2">firebase</p>
  <p class="badge badge-pill badge-secondary p-2">php</p>

</div>

<br><br><br>
<br><br><br>
{% endblock body %}
